---
import { cn } from "@/lib/utils";
import "@/styles/globals.css";
import Nav from '@/components/Nav';

const { title = "Kerja Remote: Panduan, Tools & Lowongan Kerja Remote Indonesia", description = "Platform belajar kerja remote untuk pemula. Temukan lowongan kerja remote, tips kerja remote, dan skill digital yang dibutuhkan untuk sukses." } = Astro.props;
const url = Astro.url;
const image = "/public/preview.webp";
---

<!doctype html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#a5b0f7" />
    <meta name="robots" content="index, follow" />

    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="canonical" href={url} />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="id_ID" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://kerjaremote.net",
        "name":   "KerjaRemote.net",
        "description": "Platform Edukasi & Lowongan Kerja Remote Indonesia"
      }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-77872151T1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-77872151T1');
    </script>
    <script src="https://analytics.ahrefs.com/analytics.js" data-key="kb3BOwwMfGIbEtXRtwLSwQ" async></script>
  </head>
  <body class={cn("bg-background font-sans text-primary")}>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W4ZNCFG3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <Nav client:load />
    <slot />
  </body>
</html>
